# python
build/*
venv
# MacOS
.DS_Store
.aws-sam/

# IDE
.vscode
.idea
ds-essentials-service.iml

# Project
config/dev/*
templates/.sam-generated.*
*.pyc
*.lock

reports
htmlcov
.coverage
package.yaml

# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Build output
build/
dist/

# Testing
coverage/

# Temporary files
.DS_Store
*.swp
*~

# Local environment variables
.env
.env.local
.env.*.local

# Editor directories and settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Parcel-bundler cache (if using Parcel)
.cache/

# Optional npm cache directory
.npm/

# React Native
.expo/
.expo-shared/

# Mac system files
*.DS_Store

# Next.js build output (if using Next.js)
.next/

# Storybook files (if using Storybook for component development)
storybook-static/

# Gatsby files (if using Gatsby)
.cache/
public/

# ESLint cache (optional, for faster linting)
.eslintcache

# Webpack cache (optional, for faster builds)
.cache-loader/

# TypeScript
*.tsbuildinfo

# Jest
jest-test-results.json

# Cypress
cypress/screenshots/
cypress/videos/
